.container{
    padding-top: 62px;
    padding-bottom: 20px;
    text-align: center;
}
#wrapper{
    position: relative;
    height: 100%;
}
.left{
    text-align: left;
}
.width{
    height: 20px;
    width: 100%;
    padding: 4px 8px 4px 8px;
}
h6{
    color: silver;
}
#content{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
}
small{
    color: gray;
}

.birth{
    height: 20px;
    width: 130px;  padding: 4px 8px 4px 8px;
}
#month, #day{
    margin-left: 8px;
}
#month{
    width: 132px;
    height: 31px;
}
#sel_gender, #sel_tel{
    width: 100%;
    height: 32px;
    padding: 4px 8px 4px 8px;
}
#telnumber{
    width: 70%;
    height: 20px;
    padding: 4px 8px 4px 8px;
}
button{
    color: #fff;
    height: 30px;
    background-color: #08a600; 
    padding: 4px 8px 4px 8px;
}
.telcl{
    text-align: left;

}