<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="test3.css">
<link rel="stylesheet" media="(min-width:512px) and (max-width:768px)" href="test3_mobile.css">
<body>
    <div class="container">
        <!-- header 부분-->
        <div class="header">
            <div id="tab_1">
                <div id="tab">대형주</div>
            </div>
            <div id="tab_2">
                <div id="tab">중소형주</div>
            </div>
        </div>
        <!-- 내용 부분 -->
        <div class="center">

            <div id="content">
                <div id="top">
                    <div id="img_div">
                        <img src="stocklogo.png"></img>
                    </div>
                    <div id="font_div">
                        <span><strong>삼성전자</strong></span>
                    </div>
                </div>
                <div id="middle">
                    <div id="content_1">
                        <ul>
                            <li>한국 및 CE, IM 부분 해외 9개 지역총괄과 DS 부분 해외 5개 지역총괄, Harman 등 234개의 중속기업으로 구성된 글로벌 전자기업임.</li>
                            <li>세트사업에는 TV, 냉장고 등을 생산하는 IM부문이 있음. 부품사업에서는 D램, 낸드 플래쉬, 모바일 AP 등의 제품을 생산하는 반도체 사업과 TFT-LCD 및 OLED 디스플레이 패널을 생산하는 DP사업으로 구성됨</li>
                        </ul>
                    </div>
                    
                    <div id="content_2">
                        <div id="recommend">
                             <div id="text_left">추천가</div>
                             <div id="text_right">69,000원</div>
                        </div>
                        <div id="now">
                             <div id="text_left">현재가</div>
                             <div id="now_right">
                                <div id="text_right1">72,500원</div>
                                <div id="text_right2">추천일 대비 +19.33%</div>
                            </div>
                        </div>
                        <div id="text_right3">추천일 2022/01/23</div>
                    </div>
                </div>
            </div>
            <div id="content">
                <div id="top">
                    <div id="img_div">
                        <img src="stocklogo.png"></img>
                    </div>
                    <div id="font_div">
                        <span><strong>삼성전자</strong></span>
                    </div>
                </div>
                <div id="middle">
                    <div id="content_1">
                        <ul>
                            <li>한국 및 CE, IM 부분 해외 9개 지역총괄과 DS 부분 해외 5개 지역총괄, Harman 등 234개의 중속기업으로 구성된 글로벌 전자기업임.</li>
                            <li>세트사업에는 TV, 냉장고 등을 생산하는 IM부문이 있음. 부품사업에서는 D램, 낸드 플래쉬, 모바일 AP 등의 제품을 생산하는 반도체 사업과 TFT-LCD 및 OLED 디스플레이 패널을 생산하는 DP사업으로 구성됨</li>
                        </ul>
                    </div>
                    
                    <div id="content_2">
                        <div id="recommend">
                             <div id="text_left">추천가</div>
                             <div id="text_right">69,000원</div>
                        </div>
                        <div id="now">
                             <div id="text_left">현재가</div>
                             <div id="now_right">
                                <div id="text_right1">72,500원</div>
                                <div id="text_right2">추천일 대비 +19.33%</div>
                            </div>
                        </div>
                        <div id="text_right3">추천일 2022/01/23</div>
                    </div>
                </div>
            </div>
            <div id="content">
                <div id="top">
                    <div id="img_div">
                        <img src="stocklogo.png"></img>
                    </div>
                    <div id="font_div">
                        <span><strong>삼성전자</strong></span>
                    </div>
                </div>
                <div id="middle">
                    <div id="content_1">
                        <ul>
                            <li>한국 및 CE, IM 부분 해외 9개 지역총괄과 DS 부분 해외 5개 지역총괄, Harman 등 234개의 중속기업으로 구성된 글로벌 전자기업임.</li>
                            <li>세트사업에는 TV, 냉장고 등을 생산하는 IM부문이 있음. 부품사업에서는 D램, 낸드 플래쉬, 모바일 AP 등의 제품을 생산하는 반도체 사업과 TFT-LCD 및 OLED 디스플레이 패널을 생산하는 DP사업으로 구성됨</li>
                        </ul>
                    </div>
                    
                    <div id="content_2">
                        <div id="recommend">
                             <div id="text_left">추천가</div>
                             <div id="text_right">69,000원</div>
                        </div>
                        <div id="now">
                             <div id="text_left">현재가</div>
                             <div id="now_right">
                                <div id="text_right1">72,500원</div>
                                <div id="text_right2">추천일 대비 +19.33%</div>
                            </div>
                        </div>
                        <div id="text_right3">추천일 2022/01/23</div>
                    </div>
                </div>
            </div>
            <div id="content">
                <div id="top">
                    <div id="img_div">
                        <img src="stocklogo.png"></img>
                    </div>
                    <div id="font_div">
                        <span><strong>삼성전자</strong></span>
                    </div>
                </div>
                <div id="middle">
                    <div id="content_1">
                        <ul>
                            <li>한국 및 CE, IM 부분 해외 9개 지역총괄과 DS 부분 해외 5개 지역총괄, Harman 등 234개의 중속기업으로 구성된 글로벌 전자기업임.</li>
                            <li>세트사업에는 TV, 냉장고 등을 생산하는 IM부문이 있음. 부품사업에서는 D램, 낸드 플래쉬, 모바일 AP 등의 제품을 생산하는 반도체 사업과 TFT-LCD 및 OLED 디스플레이 패널을 생산하는 DP사업으로 구성됨</li>
                        </ul>
                    </div>
                    
                    <div id="content_2">
                        <div id="recommend">
                             <div id="text_left">추천가</div>
                             <div id="text_right">69,000원</div>
                        </div>
                        <div id="now">
                             <div id="text_left">현재가</div>
                             <div id="now_right">
                                <div id="text_right1">72,500원</div>
                                <div id="text_right2">추천일 대비 +19.33%</div>
                            </div>
                        </div>
                        <div id="text_right3">추천일 2022/01/23</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>