<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="background.css">
</head>
<body >
<!-- 상단바 -->
    <div class="top"></div>
        <!-- 중단 -->
        <div class="center">
            <div class="left"></div>
            <div class="right">
                <div class="boxcontainer1">
                    <div id="box1">
                        <img src="facebookIcon.png" alt="facebook">
                        <div id="text">
                            <div>페이스북</div>
                            <div>Facebook</div>
                        </div>

                    </div>
                    <div id="box2">
                        <img src="instagramIcon.png" alt="instagram">
                        <div id="text">
                            <div>인스타그램</div>
                            <div>instagram</div>
                        </div>
                    </div>
                </div>
                <div class="boxcontainer2">
                    <div id="box1">
                        <img src="twitterIcon.png" alt="twitter">
                        <div id="text">
                            <div>트위터</div>
                            <div>Twitter</div>
                        </div>
                    </div>
                    <div id="box2">
                        <img src="tiktokIcon.png" alt="tiktok">
                        <div id="text">
                            <div>틱톡</div>
                            <div>TikTok</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    

</body>
</html>