table{
    width: 100%;
    
}
.department{
    width: auto;
    height: 200px;
    background-color: rgb(230, 225, 225);

}

.left-box {
    float: left;
    width: 30%;
    height: auto;
    text-align: center;
    margin-top: 18px;
    vertical-align: middle;
}
.right-box {
    float: right;
    width: 70%;
    display: inline;
}
.left-box img{
    width:130px;
    height: 130px;
    vertical-align: middle;
}
#name{
    margin-top: 10px;
    border-bottom: 2px solid black;
    width: 70%;
    font-size: 20px;
}
#detail{
    height: 120px;
    vertical-align: middle;
    padding-top: 20px;
}
#email, #tel, #fax,#team{
    height: 30px;
    vertical-align: middle;
    color: rgb(95, 149, 219);
}
span{
    color: black;
}
